#single-author-page {
    grid-template-columns: 1.1fr 2.5fr;
}

.single-author-image img {
    width: 100%;
    height: 100%;
    padding: 2rem;
    object-fit: contain;
}

.single-author-name {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 300;
}

.author-card-content {
    display: flex;
    padding: 2rem;
    flex-direction: column;
}

#single-author-desc {
    font-size: 1.5rem;
    letter-spacing: 2.5px;
    text-align: justify;
}

.author-card-content .text {
    padding: 1rem;
    line-height: 1.3;
    margin-left: 1rem;
}

.single-author-books-content {
    font-size: 1.6rem;
}

.author-card-content img {
    height: 19rem;
    object-fit: contain;
    box-shadow: 0 0.5rem 0.5rem rgb(100, 100, 100);
}

#authors-books-heading {
    margin-left: 2rem;
}

.author-books-slider {
    padding: 2rem;
    position: relative;
}

.authors-bookslist {
    position: absolute;
    display: flex;
    width: 60rem;
    padding: 2rem;
    margin: 2rem;
    overflow-x: scroll;
    -ms-scroll-snap-type: x mandatory;
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    left: 10rem;
    scroll-behavior: smooth;
}

#authors-booklist-link {
    display: flex;
}

.authors-bookslist::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.authors-bookslist-item {
    position: relative;
    border-radius: 10px;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: center;
    flex: 0 0 50%;
}

.authors-bookslist-item img {
    height: 90%;
    width: 70%;
    object-fit: cover;
    box-shadow: 0 1rem 1rem #000;
}

#prev_nav {
    position: absolute;
    right: 3rem;
    top: 10rem;
}

#next_nav {
    position: absolute;
    left: 3rem;
    top: 10rem;
}

.not_show {
    display: none;
}